* {
    box-sizing: border-box;
}

body {
    font-size: 1em;
    font-family: sans-serif;
    margin: 0;
    line-height: 1.5em;
}

main, header, footer {
    max-width: 1200px;
    margin: auto;
    overflow: auto;
}

header {
    border-bottom: 4px double grey;
    padding: 1.5em 1em;
}

footer {
    border-top: 4px double grey;
    text-align: center;
    padding: 1.5em 1em;
}

.left {
    float: left;
    width: 22%;
    padding: 1.5em 1em;
}

.content {
    float: right;
    width: 78%;
    padding: 1.5em 1em;
    text-align: justify;
}

h1 { 
    font-weight: normal;
    font-size: 2.5em;
    margin: 0;
}

h2 {
    font-weight: normal;
}

p {
    margin: 0em 0em 0.75em 0em;
}

.portrait {
    border: 1px solid grey;
    width: 100%;
}

/* Mobile view: when the screen is less than 1200px wide, make the columns stack on top of each other  */
@media screen and (max-width: 1200px) {
    footer, header, main, .left {   
        width: 100%;
        text-align: center;
    }

    .content {
        width: 100%;
    }
    
    h1, h2 {
        text-align: center;
    }
    
    .portrait {
        width: 40%;
    }
    
}
