* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    line-height: 1.66;
    margin: 0;
}

main, header, footer {
    width: 1200px;
    margin: auto;
    overflow: auto;
}

header {
    border-bottom: 4px double;
}

footer {
    text-align: center;
    border-top: 4px double;
    padding: 0.5em;
}

aside {
    float: left;
    width: 20%;
    padding: 20px;
}

.content {   
    float: right;
    width: 80%;
    padding: 20px;
    text-align: justify;
}

h1 { 
    font-weight: normal;
    font-size: 250%;
    margin: 5px 20px 5px 20px;
}

h2 {
    font-weight: normal;    
}

ol,ul {
    padding: 0;
    list-style-position: inside;
}

li  {
    margin: 1em 0;
}

p {
    margin: 0.5em 0;
}

.portrait {
    border: 1px solid;
    width: 100%;
}

/* Mobile view: when the screen is less than 1200px wide, make the columns stack on top of each other  */
@media screen and (max-width: 1200px) {
    html {
        font-size: 24px;
    }  
    footer, header, main, aside {   
        width: 100%;
        text-align: center;
    }

    .content {
        width: 100%;
    }
    
    h1, h2 {
        text-align: center;
    }
    
    .portrait {
        width: 50%;
    }
    
}
