* {
    box-sizing: border-box;
}

body {
    font-family:sans-serif;
    line-height: 1.5;
}

.content{
    width: 1200px;
    margin: auto;
    text-align: left;
}

.content:after {
    content: "";
    display: table;
    clear: both;
}

.header {
    width: 1200px;
    margin: auto;
    border-bottom: 4px double darkblue;
}

.center {   
    float: right;
    width: 80%;
    padding: 20px;
    text-align:justify;
}

.leftcolumn {
    float: left;
    width: 20%;
    padding: 20px;
}

.footer {
    width: 1200px;
    text-align: center;
    margin: auto;
    margin-top: 50px;
    padding-top: 10px;
    border-top: 4px double darkblue;
}

h1 {
	font-size: 40px;
	font-weight: normal;
	margin:5px 0px 5px 0px;
}

h3 {
	font-size: 25px;
	font-weight: normal;
	margin-top:1em;
  	margin-bottom:0.3em;
}

a:link {
	color: darkblue;
    text-decoration: underline;
}
a:visited {
    color: darkblue;
    text-decoration: underline;
}

ol,ul {
    padding: 0;
    list-style-position: inside;
}
ul li {
	margin-bottom: 1em;
}
p {
	margin-top: 0.5em; 
	margin-bottom: 0.5em; 
}

.portrait {
    border:1px solid darkblue;
}

/* Mobile view: when the screen is less than 1200px wide, make the columns stack on top of each other  */

@media screen and (max-width: 1200px) {
    .leftcolumn, .center, .row, .footer, .header, .content {   
        width: 100%;
        text-align: center;
        font-size:  16pt;
    }
    .center {
        text-align:justify;
    }
    h1, h2, h3, h4 {
        text-align:center;
    }
    .portrait {
        width: 25%;
        border:1px solid darkblue;
    }
}
